.btn-custom {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
    transition: all 0.3s ease-in-out;
    border-radius: 1000px;
    position: relative;
    margin: 46px 20px 40px 20px;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
}
@media (max-width: 767px) {
    .btn-notFound {
        padding: 14px 45px !important;
        font-size: 12px !important;
    }
}

@media(max-width: 735px) {
    #relative {
        padding: 15px 29px;
        font-size: 13px;
    }
    #absolute {
        margin-left: -90px !important;
        padding: 14px 15px;
        font-size: 13px;
    }
}

.btn-custom:hover {
    background-color: #00aaff;
}

#relative {
    position: static;
}

#absolute {
    margin-left: -180px;
    position: absolute;
}